# Nome do workflow que aparece na aba Actions
name: Deploy automático no Cloud Run

# Quando o workflow roda
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write # NECESSÁRIO para Workload Identity Federation

    env:
      PROJECT_ID: eastern-entity-386902
      REGION: southamerica-east1
      SERVICE_NAME: alimentacao-e-exercicio
      REPOSITORY: cloud-run
      IMAGE_NAME: app

    steps:
      # PASSO 1 — Baixar o código do repositório
      - name: Checkout do código
        uses: actions/checkout@v4

      # PASSO 2 — Autenticar no Google Cloud SEM chave privada
      - name: Autenticação no Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/158473325797/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-actions-deploy@eastern-entity-386902.iam.gserviceaccount.com

      # PASSO 3 — Configurar o gcloud
      - name: Configurar gcloud
        uses: google-github-actions/setup-gcloud@v2

      # PASSO 4 — Autenticar Docker no Artifact Registry
      - name: Autenticar Docker
        run: |
          gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

      # PASSO 5 — Build da imagem Docker
      - name: Build da imagem
        run: |
          docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest .

      # PASSO 6 — Enviar imagem para o Artifact Registry
      - name: Push da imagem
        run: |
          docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest

      # PASSO 7 — Deploy automático no Cloud Run
      - name: Deploy no Cloud Run
        run: |
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest \
            --region ${{ env.REGION }} \
            --platform managed \
            --allow-unauthenticated
